In [1]:
%reload_ext autoreload
%autoreload 2

In [55]:
!pwd

/mnt/c/Users/Iyed/Projects/Work/MarsadMajles/seshat/notebooks/votes

In [2]:
import copy
import pickle
from datetime import datetime
from itertools import product
from pprint import pprint
from random import shuffle
from typing import Any, Callable, List

import jellyfish
import numpy as np
import pandas as pd
from glom import T, glom
from loguru import logger
from scipy.optimize import linear_sum_assignment

import textdistance
from seshat.extractors.db_data import (
    RemoteDB,
    get_active_deputies_on_date,
    remote_db_config,
)
from seshat.models import Deputy, get_session

In [3]:
pd.set_option("display.max_rows", 100)

## Get the names of active deputies

In [4]:
session_date = datetime(2020, 6, 29)
session_date

datetime.datetime(2020, 6, 29, 0, 0)

In [5]:
deps = pd.DataFrame(get_active_deputies_on_date(session_date))

In [6]:
pd.set_option("display.max_row", 218)
deps.sort_values("name_ar").head()

                          _id name_ar       lastname_ar     joined  left
34   5dcbd190a7986d066f9d197c    حسان  بن الحاج إبراهيم 2019-11-13  None
212  5dcbd190a7986d066f9d19ef    زهير             مخلوف 2019-11-13  None
24   5dcbd18fa7986d066f9d196c    شكري       بلحاج عمارة 2019-11-13  None
210  5dcbd190a7986d066f9d19e7    طارق            براهمي 2019-11-13  None
31   5dcbd190a7986d066f9d1976    فيصل           الطاهري 2019-11-13  None

## Get names extracted from PDFs

In [7]:
with open(
    "/mnt/c/Users/Iyed/Projects/Work/MarsadMajles/seshat/votes.pickle", mode="rb"
) as f:
    raw_names = [df.iloc[:, 0].to_list() for df in pickle.load(f)]

## Transform reference names

In [8]:
reference_names = (
    deps.assign(fullname_ar=deps["name_ar"].str.cat(deps["lastname_ar"], sep=" "))
    .loc[:, "fullname_ar"]
    .to_list()
)

In [9]:
assert len(reference_names) == 217

In [10]:
source_diff = list(set(raw_names[1]).difference(reference_names))
target_diff = list(set(reference_names).difference(raw_names[1]))

In [11]:
len(source_diff)

70

In [12]:
len(target_diff)

70

In [13]:
def get_closest(
    query: str,
    candidates: List[str],
    n_closest: int = 1,
    scorer: Callable = textdistance.jaro_winkler.normalized_similarity,
):
    scores = [{"candidate": c, "similarity": scorer(query, c),} for c in candidates]
    if n_closest > 1:
        return sorted(scores, key=lambda x: x["similarity"], reverse=True)[:n_closest]
    else:
        return max(scores, key=lambda x: x["similarity"])

In [14]:
len(sorted(reference_names))

217

### Naïve approach

In [15]:
def fuzzy_match_naive(
    source: List[str], target: List[str], *args, **kwargs
) -> pd.DataFrame:
    matches_list = []
    source_diff = set(source).difference(
        target
    )  # Consider only queries that do not have an exact match the target list
    target_diff = set(target).difference(
        source
    )  # Consider only queries that do not have an exact match the sources list

    for q in source_diff:
        match = get_closest(q, target_diff, *args, **kwargs)
        matches_list.append((q, match))

    normalized = glom(
        matches_list,
        [{"source": T[0], "target": T[1]["candidate"], "score": T[1]["similarity"],}],
    )
    matches_df = pd.DataFrame(normalized).sort_values("target")
    return matches_df

In [16]:
%%time
matches_df = fuzzy_match_naive(raw_names[0], reference_names,)
matches_df.query("score < 1").sort_values("score")

CPU times: user 172 ms, sys: 0 ns, total: 172 ms
Wall time: 159 ms

                  source                  target     score
55      الطاهر فارس بلال               فارس بلال  0.743056
16          اسامة الصغير       أسامة علية الصغير  0.763666
15      أحمد الصافي سعيد            أمال السعيدي  0.772159
5          امال الورتاني          آمال الورتاتني  0.787851
47   حسان بالحاج ابراهيم   حسان بن الحاج إبراهيم  0.792220
42        الناجي الجراحي            ناجي الجراحي  0.813492
65          طارق ابراهمي             طارق براهمي  0.823232
12             فاضل الوج             الفاضل الوج  0.828283
60         المنجي الرحوي             منجي الرحوي  0.857809
48         الأزهر الشملي             لزهر الشملي  0.857809
37          هشام بن أحمد            هشام بن أحمد  0.863248
18         اسامة الخليفي           أسامة الخليفي  0.865385
33      شكري بلحاج عمارة        شكري بلحاج عمارة  0.876225
44           علي البجاوي            علي الهرماسي  0.878788
28    راشد خريجي الغنوشي            راشد الغنوشي  0.883333
46  جميلة دبش حرم كسيكسي               جميلة دبش  0.890000
34       سامية حمودة عبو               سامية عبو  0.897778
30            زهير مخلوف              زهير مخلوف  0.903030
58           محمد العفاس             محمد العفاس  0.911616
56         حسونة الناصفي             حسونه ناصفي  0.915664
61          فيصل الطاهري            فيصل الطاهري  0.918803
50            علي هرماسي            علي الهرماسي  0.926667
59          سلمى المعالج              سلمى معالج  0.926667
40     هاجر النيفر شقرون             هاجر النيفر  0.929412
6            محسن عرفاوي           محسن العرفاوي  0.932867
9            أمين ميساوي           أمين الميساوي  0.932867
57    سميرة بعيزيق سلامة            سميرة بعيزيق  0.933333
10       بدر الدين قمودي          بدرالدين قمودي  0.934444
63         هشام العجبوبي             هشام عجبوني  0.935664
20     محمد الازهر الرمة         محمد لزهر الرمة  0.936471
0         السيد الفرجاني            السيد فرجاني  0.938095
32           المكي زغدود               مكي زغدود  0.939394
2            ليلى الحداد               ليلى حداد  0.941414
14             نهى جلابي             نهى الجلابي  0.941414
23          امنة بن حميد            آمنة بن حميد  0.944444
17            صحبي صمارة            الصحبي صمارة  0.944444
8           عدنان الحاجي              عدنان حاجي  0.946667
38           مبروك كرشيد           المبروك كرشيد  0.948718
43           منيرة عياري           منيرة العياري  0.951049
3            سميرة سايحي           سميرة السايحي  0.951049
26           جمال بضوافي           جمالي بوضوافي  0.951049
45           لطيفة حباشي           لطيفة الحباشي  0.951049
53         زينب البراهمي             زينب براهمي  0.951049
52      نور الدين عرباوي      نور الدين العرباوي  0.952778
25           أمل السعيدي            أمال السعيدي  0.953535
49       الحبيب بن سيدهم           حبيب بن سيدهم  0.955556
24        فتحي بن بلقاسم             فتحي بلقاسم  0.957143
39         ميلاد بن دالي         ميلاد بن الدالي  0.957949
51           هيثم ابراهم              هيثم براهم  0.961818
31           حياة العمري               حياة عمري  0.963636
41             محمد زعبي             محمد الزعبي  0.963636
54     محمد الصالح لطيفي       محمد صالح اللطيفي  0.964706
27          ليليا بالليل             ليليا باليل  0.965152
7             مصطفى غربي            مصطفى الغربي  0.966667
21          فيصل التبيني              فيصل تبيني  0.966667
19          طارق الفتيتي              طارق فتيتي  0.966667
11          نضال السعودي              نضال سعودي  0.966667
36         مصطفى بن احمد           مصطفى بن أحمد  0.969231
35         فريدة العبيدي             فريدة عبيدي  0.969231
1          سميرة السميعي             سميرة سميعي  0.969231
29      معز بالحاج رحومة         معز بلحاج رحومة  0.974167
13     سيف الدين المزغني       سيف الدين المرغني  0.976471
22              نبيل حجي               نبيل حاجي  0.977778
62            عبير  موسي               عبير موسي  0.980000
64            علي بن عون               علي بنعون  0.980000
4            صفا الغريبي            صفاء الغريبي  0.980556

In [17]:
matches_df.pipe(lambda df: df.loc[df["target"].duplicated(keep=False)])

              source        target     score
25       أمل السعيدي  أمال السعيدي  0.953535
15  أحمد الصافي سعيد  أمال السعيدي  0.772159
44       علي البجاوي  علي الهرماسي  0.878788
50        علي هرماسي  علي الهرماسي  0.926667

In [18]:
pd.DataFrame(get_closest("علي البجاوي", reference_names, n_closest=3))

      candidate  similarity
0  علي الهرماسي    0.878788
1   علي الطياشي    0.865909
2     علي بنعون    0.842424

## Slightly less naïve

In [19]:
def fuzzy_match_less_naive(
    source: List[str], target: List[str], *args, **kwargs
) -> pd.DataFrame:
    matches_list = []
    source_diff = ordered_difference(
        source, target
    )  # Consider only queries that do not have an exact match the target list
    target_diff = ordered_difference(
        target, source
    )  # Consider only candidates that not have an exact match in the source list
    for q in source_diff:
        match = get_closest(q, target_diff, *args, **kwargs)
        matches_list.append((q, match))
        target_diff.remove(match["candidate"])

    normalized = glom(
        matches_list,
        [{"source": T[0], "target": T[1]["candidate"], "score": T[1]["similarity"],}],
    )
    matches_df = pd.DataFrame(normalized).sort_values("target")
    return matches_df

In [20]:
%%time
matches_df = fuzzy_match_less_naive(raw_names[0], reference_names)
matches_df.sort_values("score")

NameError: name 'ordered_difference' is not defined

In [21]:
matches_df.pipe(lambda df: df.loc[df["target"].duplicated(keep=False)])

              source        target     score
25       أمل السعيدي  أمال السعيدي  0.953535
15  أحمد الصافي سعيد  أمال السعيدي  0.772159
44       علي البجاوي  علي الهرماسي  0.878788
50        علي هرماسي  علي الهرماسي  0.926667

## Alis

In [22]:
source_alis = list(filter(lambda x: "علي" in x.split()[0], raw_names[0]))
target_alis = list(filter(lambda x: "علي" in x.split()[0], reference_names))

In [23]:
source_alis

['علي بن عون', 'علي البجاوي', 'علي هرماسي']

In [24]:
target_alis

['علي بنعون', 'علي الهرماسي', 'علي الطياشي']

In [25]:
def ordered_difference(left: List[Any], right: List[Any]) -> List[Any]:
    return [i for i in left if i not in right]

In [26]:
def experiment(source, target, n=10):
    source_copy = copy.deepcopy(source)
    target_copy = copy.deepcopy(target)
    results = []
    for _ in range(n):
        shuffle(source_copy)
        shuffle(target_copy)
        results.append(fuzzy_match_less_naive(source_copy, target_copy))
    return results

In [27]:
results = experiment(source_alis, target_alis, n=100)

In [28]:
shuffle(source_alis)
fuzzy_match_less_naive(source_alis, target_alis)

        source        target     score
2  علي البجاوي   علي الطياشي  0.865909
0   علي هرماسي  علي الهرماسي  0.926667
1   علي بن عون     علي بنعون  0.980000

In [29]:
source = ordered_difference(raw_names[1], reference_names)
target = ordered_difference(reference_names, raw_names[1])

In [30]:
def fuzzy_matching_best(
    source, target, scorer=textdistance.jaro_winkler.normalized_distance, maximize=False
):
    diff_source = ordered_difference(source, target)
    diff_target = ordered_difference(target, source)

    pairs = product(diff_source, diff_target)
    scores = np.array([scorer(q, c) for q, c in pairs]).reshape(
        (len(diff_source), len(diff_target))
    )
    row_ind, col_ind = linear_sum_assignment(scores, maximize)
    return pd.DataFrame(
        [
            {
                "source": diff_source[i],
                "target": diff_target[j],
                "distance": scores[i, j],
            }
            for i, j in zip(row_ind, col_ind)
        ]
    )

In [35]:
%%time
fuzzy_matching_best(
    raw_names[0], reference_names, textdistance.ratcliff_obershelp.distance
).sort_values("source")

CPU times: user 422 ms, sys: 15.6 ms, total: 438 ms
Wall time: 426 ms

                  source                  target  distance
61      أحمد الصافي سعيد             الصافي سعيد  0.185185
15           أمل السعيدي            أمال السعيدي  0.043478
32           أمين ميساوي           أمين الميساوي  0.083333
26         اسامة الخليفي           أسامة الخليفي  0.076923
0           اسامة الصغير       أسامة علية الصغير  0.241379
16         الأزهر الشملي             لزهر الشملي  0.083333
33       الحبيب بن سيدهم           حبيب بن سيدهم  0.071429
1         السيد الفرجاني            السيد فرجاني  0.076923
30      الطاهر فارس بلال               فارس بلال  0.280000
51           المكي زغدود               مكي زغدود  0.100000
64         المنجي الرحوي             منجي الرحوي  0.083333
37        الناجي الجراحي            ناجي الجراحي  0.076923
27         امال الورتاني          آمال الورتاتني  0.111111
2           امنة بن حميد            آمنة بن حميد  0.083333
25       بدر الدين قمودي          بدرالدين قمودي  0.034483
58           جمال بضوافي           جمالي بوضوافي  0.083333
3   جميلة دبش حرم كسيكسي               جميلة دبش  0.379310
28   حسان بالحاج ابراهيم   حسان بن الحاج إبراهيم  0.121951
44         حسونة الناصفي             حسونه ناصفي  0.166667
4            حياة العمري               حياة عمري  0.100000
5     راشد خريجي الغنوشي            راشد الغنوشي  0.200000
55            زهير مخلوف              زهير مخلوف  0.047619
6          زينب البراهمي             زينب براهمي  0.083333
17       سامية حمودة عبو               سامية عبو  0.250000
18          سلمى المعالج              سلمى معالج  0.090909
7          سميرة السميعي             سميرة سميعي  0.083333
56    سميرة بعيزيق سلامة            سميرة بعيزيق  0.200000
38           سميرة سايحي           سميرة السايحي  0.083333
31     سيف الدين المزغني       سيف الدين المرغني  0.058824
8       شكري بلحاج عمارة        شكري بلحاج عمارة  0.030303
34            صحبي صمارة            الصحبي صمارة  0.090909
57           صفا الغريبي            صفاء الغريبي  0.043478
45          طارق ابراهمي             طارق براهمي  0.083333
46          طارق الفتيتي              طارق فتيتي  0.090909
39            عبير  موسي               عبير موسي  0.052632
62          عدنان الحاجي              عدنان حاجي  0.090909
40           علي البجاوي             علي الطياشي  0.272727
19            علي بن عون               علي بنعون  0.052632
47            علي هرماسي            علي الهرماسي  0.090909
41             فاضل الوج             الفاضل الوج  0.100000
9         فتحي بن بلقاسم             فتحي بلقاسم  0.120000
10         فريدة العبيدي             فريدة عبيدي  0.083333
65          فيصل التبيني              فيصل تبيني  0.090909
48          فيصل الطاهري            فيصل الطاهري  0.040000
11           لطيفة حباشي           لطيفة الحباشي  0.083333
20           ليلى الحداد               ليلى حداد  0.100000
29          ليليا بالليل             ليليا باليل  0.043478
52           مبروك كرشيد           المبروك كرشيد  0.083333
21           محسن عرفاوي           محسن العرفاوي  0.083333
13     محمد الازهر الرمة         محمد لزهر الرمة  0.062500
59     محمد الصالح لطيفي       محمد صالح اللطيفي  0.117647
35           محمد العفاس             محمد العفاس  0.043478
60             محمد زعبي             محمد الزعبي  0.100000
53         مصطفى بن احمد           مصطفى بن أحمد  0.076923
42            مصطفى غربي            مصطفى الغربي  0.090909
12      معز بالحاج رحومة         معز بلحاج رحومة  0.032258
22           منيرة عياري           منيرة العياري  0.083333
63         ميلاد بن دالي         ميلاد بن الدالي  0.071429
23              نبيل حجي               نبيل حاجي  0.058824
36          نضال السعودي              نضال سعودي  0.090909
49             نهى جلابي             نهى الجلابي  0.100000
14      نور الدين عرباوي      نور الدين العرباوي  0.058824
43     هاجر النيفر شقرون             هاجر النيفر  0.214286
24         هشام العجبوبي             هشام عجبوني  0.166667
54          هشام بن أحمد            هشام بن أحمد  0.040000
50           هيثم ابراهم              هيثم براهم  0.047619

In [36]:
source_samiras = ["سميرة السميعي", "سميرة بعيزيق سلامة", "سميرة سايحي"]
target_samiras = ["سميرة السايحي", "سميرة بعيزيق", "سميرة سميعي"]

In [49]:
fuzzy_matching_best(
    [source_samiras[0]],
    target_samiras,
    scorer=textdistance.levenshtein.normalized_distance,
)

          source         target  distance
0  سميرة السميعي  سميرة السايحي  0.153846

In [53]:
get_closest(
    source_samiras[0],
    target_samiras,
    n_closest=3,
    scorer=textdistance.ratcliff_obershelp.normalized_distance,
)

[{'candidate': 'سميرة بعيزيق', 'similarity': 0.36},
 {'candidate': 'سميرة السايحي', 'similarity': 0.15384615384615385},
 {'candidate': 'سميرة سميعي', 'similarity': 0.08333333333333337}]

In [54]:
get_closest(
    source_samiras[0],
    target_samiras,
    n_closest=3,
    scorer=textdistance.jaro_winkler.normalized_distance,
)

[{'candidate': 'سميرة بعيزيق', 'similarity': 0.13376068376068373},
 {'candidate': 'سميرة السايحي', 'similarity': 0.06153846153846154},
 {'candidate': 'سميرة سميعي', 'similarity': 0.03076923076923077}]